[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
alembic = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-httpauth = "*"
requests = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
