<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/login.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body id="loginImg">
<header>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    {% if current_user.is_admin %}
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    {% endif %}
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/wallets">Wallets</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="/transactionsPost">Transactions</a></li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated == False %}
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div id="login">
        <div class="center">
            <h1>Login</h1>

            <form method="POST" action="/login">
                <div>
                    <input id="username" type="text" name="username" placeholder="Your username" autofocus="">
                </div>
                <div>
                    <input id="password" type="password" name="password" placeholder="Your Password">
                </div>
                <div id="result"></div>
                <div class="center">
                    <button type="submit" name="btn" class="btn btn-primary">Login</button>
                </div>
            </form>
            {% if current_user.is_authenticated == False %}
            <p>Don't have account? <a href="register">Register</a></p>
            {% endif %}
        </div>
    </div>

</main>

<footer class="footerWhite">
    <span class="footerText">&copy; 2022 Roman Bilets</span>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/wallets">Wallets</a>
        <a href="/transactions">Transactions</a>
    </nav>
</footer>
<script type="module" src="{{url_for('static', filename='js/login.js')}}"></script>
</body>
</html>